streamlit==1.38.0
pypdf==6.1.1
python-dotenv==1.1.1
langchain==0.3.27
langchain-community==0.3.30
langchain-core==0.3.78
langchain-groq==0.3.8
langchain-huggingface==0.3.1
langchain-text-splitters==0.3.11
faiss-cpu==1.12.0
sentence-transformers==5.1.1
groq==0.32.0
